@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
    font-family: Arial, sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('a.png') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    opacity: 0.3;
}

h1 {
    color: #333;
    font-family: 'Dancing Script', cursive;
    margin: 20px;
    text-align: center;
    font-size: 3rem; /* Use relative units */
    text-shadow: 2px 2px 4px #aaa;
}

.columns-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    padding: 20px;
}

.column {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid green;
    margin: 10px 0;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

p {
    font-family: 'Caveat', cursive;
    font-size: 1.5rem; /* Use relative units */
    color: #333;
    line-height: 1.5;
    padding: 1.25rem; /* Use relative units */
    text-align: center;
}

a {
    text-align: center;
    margin: 20px 0;
}

.download-button button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1rem 2rem; /* Use relative units */
    font-size: 1rem; /* Use relative units */
    cursor: pointer;
    transition: background-color 0.3s;
}

.download-button button:hover {
    background-color: #45a049;
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

@media only screen and (max-width: 620px) {
    .columns-container {
        padding: 10px;
    }
    .column {
        width: 100%;
        border: none;
        padding: 10px;
    }
}
