body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

body, #description {
    transition: background-color 2s ease-out, color 2s ease-out;
}

.sudoku-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.sudoku-container canvas {
    border: 1px solid black;
}

.lives-label-container {
    margin-left: 20px;
}


.a {
    background-color: #dc5e5e;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-family: 'Dancing Script', cursive;

    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    transition: background-color 0.5s;
}

.navbar ul li a, #welcome {
    color: black; /* Set text color to black */
    font-family: 'Dancing Script', cursive;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center; /* Horizontally center the items */
    margin-top: 10px; /* Adjust as needed for vertical alignment */
}


li a{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 22px;
    padding: 14px 16px;
    text-decoration: none;
}

.body_column {
    text-align: center;
    display: flex;
}

.row{
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */

    
}

.row {
    display: flex;
    flex-direction: horizontal; /* Arrange rows vertically */
    align-items: center;
}

.row > * {
    margin-bottom: 10px; /* Add spacing between elements */
}

canvas {
    border: 1px solid black;
}



.canva-side-container {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    margin: 20px;
    gap: 20px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0; /* No space between the buttons */
}

.number_button {
    width: 75px; /* Set the size of the buttons */
    height: 75px; /* Set the size of the buttons */
    background-color: #f2f2f2;
    border: 1px solid #000; /* Add a border to distinguish them */
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Ensure no margin between buttons */
}
.bottom_buttons {
    background-color: #f2f2f2;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-family: 'Dancing Script', cursive;

    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    transition: background-color 0.5s;
}

.bottom_buttons:hover {
    background-color: #dedede;
}

.number_button:hover {
    background-color: #dedede;
}

label {

    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 30px;
    

}


/* style switchers */

.dropdown {
    position: relative;
    display: inline-block;
}

#dropdownButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    padding: 10px;
}

.option {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.option:hover {
    background-color: #ddd;
}
