body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.body_column {
    text-align: center;
}
.row{

}
canvas {
    border: 1px solid black;
}



#difficulty-button {
    background-color: #f2f2f2;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-family: 'Dancing Script', cursive;

    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    transition: background-color 0.5s;
}

#difficulty-button:hover {
    background-color: #dedede;
}

