<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Sudoku, Game">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zudoku Online</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/zudoku.css">
</head>
<body>

    <div class="navbar" id="myNavBar">
        <ul>
            <li><a href="register">Register (to save your progress!)</a></li>
            <li><a href="login">Login</a></li>
            <li hidden='true'>
                <p id="welcome">Estas logeado!</p></li>
        </ul>
    </div>


    <h1 id="title">Play Zudoku Online!</h1>

    <div class="body_column">
        <div class="column middle">
            <p id="intro">
                Enjoy the online version of Zudoku! Fill the grid and challenge yourself.
            </p>

            <canvas id="sudoku-canvas" width="450" height="450"></canvas>

            <div class="row">

                <button class="button" id="easy-button">Skylight</button>
                <button class="button" id="medium-button">Twilight</button>
                <button class="button" id="hard-button">Moonlight</button>
                <button class="button" id="save">Save</button>
                <button class="button" id="load">Load</button>

            </div>
        </div>
    </div>
    <script src="../static/js/zudoku.js"></script>
</body>
</html>
