
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Sudoku, Game">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zudoku Online</title>
    <link rel="icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/zudoku.css">
</head>
<body>

    <div class="navbar" id="myNavBar">
        <ul>
            <li id="register"><a href="register">Register (to save your progress!)</a></li>
            <li id="login"><a href="login">Login</a></li>
            <li id="welcome" hidden='true'>
                <p id="welcome-message">Estas logeado!</p></li>
        </ul>
    </div>


    <h1 id="title">Play Zudoku Online!</h1>


    <p id="intro">
        Enjoy the online version of Zudoku! Fill the grid and challenge yourself.
    </p>
    <div class="sudoku-container">
        <canvas id="sudoku-canvas" width="450" height="450"></canvas>
        <div class="canva-side-container">
            <label id="lives_label">10 lives left</label>
            
            <div class="button-grid">
                <button class="number_button" id="1">1</button>
                <button class="number_button" id="2">2</button>
                <button class="number_button" id="3">3</button>
                <button class="number_button" id="4">4</button>
                <button class="number_button" id="5">5</button>
                <button class="number_button" id="6">6</button>
                <button class="number_button" id="7">7</button>
                <button class="number_button" id="8">8</button>
                <button class="number_button" id="9">9</button>
            </div>
        </div>
    </div>
    <div class="row">

        <button class="bottom_buttons" id="easy-button">Skylight</button>
        <button class="bottom_buttons" id="medium-button">Twilight</button>
        <button class="bottom_buttons" id="hard-button">Moonlight</button>
        <button class="bottom_buttons" id="save">Save</button>
        <button class="bottom_buttons" id="load">Load</button>

    </div>

    <script src="../static/js/zudoku.js"></script>
</body>
</html>
