
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Sudoku, Game">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zudoku Online</title>
    <link rel="icon" href="../static/images/favicon.ico">
    <!-- <link rel="stylesheet" href="../static/css/index.css"> -->
    <link rel="stylesheet" href="../static/css/zudoku.css">
</head>
<body>
    <!-- Dropdown for styling, its as fixed location-->
    <div class="dropdown">
        <button id="dropdownButton">Style</button>
        <div id="dropdownContent" class="dropdown-content"> 
            <div class="option" data-value="1">Daylight</div> <!--light mode but with day style,-->
            <div class="option" data-value="2">Moonlight</div> <!--dark mode but with night style-->
            <div class="option" data-value="3">Aquatic</div>  <!--warm sea color and coral colors, cozy-->
            <div class="option" data-value="4">Twilight</div> <!-- something with color #c71585-->

        </div>
    </div>
     <!-- Dropdown for styling, its as flex location-->
    <div class="navbar" id="myNavBar">
        <ul>
            <li id="register"><a href="register">Register (to save your progress!)</a></li>
            <li id="login"><a href="login">Login</a></li>
            <li id="welcome" hidden='true'>
                <p id="welcome-message">Estas logeado!</p></li>
        </ul>
    </div>


    <h1 id="title">Play Zudoku Online!</h1>


    <p id="intro">
        Enjoy the online version of Zudoku! Fill the grid and challenge yourself!
    </p>
    <div class="row">

        <button class="difficulty_button" id="easy-button">Easy</button>
        <button class="difficulty_button" id="medium-button">Medium</button>
        <button class="difficulty_button" id="hard-button">Hard</button>
        <button class="difficulty_button" id="arduous-button">Arduous</button>
    </div>

    <div class="sudoku-container">
        <div class="canva-side-container">
            <div class="filler"></div> 
        </div>
        <div class="canva-side-container">
            <div class="filler"></div> 
        </div>
        <canvas id="sudoku-canvas" width="450" height="450"></canvas>
        <div class="canva-side-container">
            <label id="lives_label">10 lives left</label>
            <div class="filler"></div> 
            <div class="button-grid">
                <button class="number_button"><span class="number_button_content" id="1">1</button>
                <button class="number_button"><span class="number_button_content" id="2">2</button>
                <button class="number_button"><span class="number_button_content" id="3">3</button>
                <button class="number_button"><span class="number_button_content" id="4">4</button>
                <button class="number_button"><span class="number_button_content" id="5">5</button>
                <button class="number_button"><span class="number_button_content" id="6">6</button>
                <button class="number_button"><span class="number_button_content" id="7">7</button>
                <button class="number_button"><span class="number_button_content" id="8">8</button>
                <button class="number_button"><span class="number_button_content" id="9">9</button>
            </div>
            <div class="filler"></div> 
            <div class="filler"></div> 
            <div class="filler"></div> 
        </div>
    </div>

    <div class="row">

        <button class="bottom_buttons" id="save">Save</button>
        <button class="bottom_buttons" id="load">Load</button>

    </div>
    <script type="module" src="../static/js/zudoku.js"></script>
</body>
</html>
