@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    position: relative;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    transition: background-color 2s ease-out, color 2s ease-out;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: url('a.png') no-repeat center center fixed;
        background-size: cover;
        z-index: -1;
        opacity: 0.5;
    }

    &.daylight {
        background-color: #ECFEFF;
        color: #333;

        &::before {
            background-image: url('../images/skylight.jpg');
        }
    }

    &.moonlight {
        background-color: #1a1a2e;

        &::before {
            background-image: url('../images/night.jpg');
        }
    }

    &.aquatic {
        background-color: #e0f7fa;
        color: #00796b;

        &::before {
            background-image: url('../images/aquatic2.png');
        }
    }

    &.twilight {
        background-color: #aa6a93;
        color: #ffffff;

        &::before {
            background-image: url('../images/twilight.jpg');
            opacity: 0.8;
        }
    }
}

h1 {
    color: #333;
    font-family: 'Dancing Script', cursive;
    margin: 10px;
    text-align: center;
    font-size: 48px;
    text-shadow: 2px 2px 4px #aaa;

    // & {
    //     background: linear-gradient(to right, red, blue);
    //     background-clip: text;
    //     color: transparent;
    // }
}

p {
    font-family: 'Caveat', cursive;
    font-size: 24px;
    color: #333;
    line-height: 1.5;
    padding: 10px;
    text-align: center;
}

.sudoku-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

    canvas {
        border: 1px solid black;
        // width: 450px;
        // height: 450px;
    }
}

.navbar {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        justify-content: center;
        margin-top: 10px;

        li {
            a {
                display: block;
                color: rgb(0, 0, 0);
                text-align: center;
                font-family: 'Dancing Script';
                font-size: 22px;
                padding: 14px 16px;
                text-decoration: none;
            }
        }
    }
}

#description {
    transition: background-color 2s ease-out, color 2s ease-out;
}

.body_column {
    text-align: center;
    display: flex;
}

.row, .mobile-only-row {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
}

.mobile-only-row {
    display: none;
}

.canva-side-container, .canva-hidden-filler{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 50px;
    max-width: 450px;
    width: 100%;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;

    .number_button {
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: 1px solid #000;
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: 'Caveat', cursive;
        text-decoration: none;
        font-size: 32px;
        cursor: pointer;
        transition: background-color 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        overflow: hidden;

        .number_button_content {
            transition: transform 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover .number_button_content {
            transform: scale(1.3);
        }
    }
}



.difficulty_button, .bottom_buttons, #notes {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
    
    &:hover {
        transform: scale(1.2);
    }
}

#notes {
    margin-top: none;
    margin-bottom: none;
    font-size: 28px;
}

.filler {
    flex-grow: 3;
}

label {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 30px;
}

.dropdown {
    // position: static;
    // top: 10px;
    // right: 200px;
    position: flex;
    // margin-left:0px;
    display: inline-block;

    #dropdownButton {
        border: none;
        padding: 10px 20px;
        color: #ffffff;
        background: transparent;
        font-size: 22px;
        font-family: 'Dancing Script', cursive;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background: transparent;
        // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        display: grid;
        // grid-template-columns: repeat(2, auto);
        grid-gap: 10px;
        padding: 10px;

        .option {
            padding: 10px 20px;
            cursor: pointer;
            color: #ffffff;
            white-space: nowrap;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    a {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: flex;
        display: block;
        transition: 0.3s;

        &:hover {
            color: #f1f1f1;
        }
    }

    .closebtn {
        display: flex;
        flex-direction: row-reverse;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

.openbtn {
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    margin-left:0px;
    // margin: 10px;

    &:hover {
        background-color: #dedede4d;
    }
}

.title-row {
    display: flex;
    flex-direction: row;
    // display: inline-block;
}

@media only screen and (max-width: 620px) {
    h1 {
        margin: 0; // from 5
        margin-left: 60px;
        padding: none;
        font-size: 28px; //from 32
        display:inline;
    }

    p {
        font-size: 18px;  // from 24
        line-height: 1; // from 1.5
        padding: 5px; // from 10
    }

    .title-row {
        display: flex;
        flex-direction: row;
        // display: inline-block;
    }
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        opacity: 0.6;
        overflow-x: hidden;
        transition: 0.7s;
        padding-top: 60px;
    
        a {
            padding: 10px 15px;
            text-decoration: none;
            font-size: 25px;
            color: white;
            display: flex;
            flex-direction: row-reverse;
            display: block;
            transition: 0.3s;
    
            &:hover {
                color: #f1f1f1;
            }
        }
    
        .closebtn {
            display: flex;
            flex-direction: row-reverse;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
    }

    .openbtn {
        font-size: 20px;
        display: flex;
        flex-direction: row-reverse;
        cursor: pointer;
        background-color: transparent;
        color: rgb(0, 0, 0);
        border: none;
        padding: 0px;
        margin-left: 40px;
    
        &:hover {
            background-color: #dedede4d;
        }
    }
    
    
    .dropdown {
        // position: static;
        // top: 10px;
        // right: 200px;
        position: flex;
        // margin-left: 400px;
        display: inline-block;
    
        #dropdownButton {
            border: none;
            padding: 10px 20px;
            background: transparent;
            font-size: 32px;
            font-family: 'Dancing Script', cursive;
            cursor: pointer;
            transition: transform 0.3s ease;
    
            &:hover {
                transform: scale(1.1);
            }
        }
    
        .dropdown-content {
            display: none;
            position: absolute;
            background: transparent;
            // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
            display: grid;
            // grid-template-columns: repeat(2, auto);
            grid-gap: 10px;
            padding: 10px;
    
            .option {
                padding: 10px 15px;
                cursor: pointer;
                white-space: nowrap;
                transition: transform 0.3s ease;
    
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
    .canva-side-container{
        flex-direction: column;
        margin: 10px; // from 20
        gap: 1px; // from 50
        max-width: 80vw;
        width: 100%;
    }

    // .canva-side-container, .canva-hidden-filler{
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     margin: 20px;
    //     gap: 50px;
    //     max-width: 450px;
    //     width: 100%;
    //}

    .button-grid {
        order: 1;
    }

    .canva-hidden-filler, .filler, .pc-only, .save-load-pc {
        display: none;
    }

    .sudoku-container {
        flex-direction: column;
        margin-bottom: 20px; // from 20
    
    }

    label {
        font-size: 24px; //from 33;
        padding: 7px 16px; 
        margin-bottom: none;
    }

    #notes {
        font-size: 24px;
        padding: 7px 16px; 
        margin-top: 0; // from 5
        margin-bottom: 0; //from 20
    }

    .row, .mobile-only-row {
        display: flex;
        flex-direction: horizontal;
        align-items: center;
        gap: 0;
    }
    

    .difficulty_button, .bottom_buttons {
        padding: 7px 16px; // from 7px 16px
        font-size: 24px; // from 28
        margin-top: 0; // from 5
        margin-bottom: 0; //from 20
    }
        // need to add transtion!


    .button-grid {
        display: flex;
        flex-direction: row;
        gap: none;
        // grid-template-columns: repeat(9, 1fr);
        
    
        .number_button {
            width: 25px; // from 60
            height: 25px; // from 60
            border: none;
            font-size: 36px; // from 32
            transition: background-color 0.5s; //need to properly implement

            // .number_button_content {
            //     transition: transform 0.5s;
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            // }
    
            // &:hover .number_button_content {
            //     transform: scale(1.3);
            // }
        }
    }
}



